!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Sample Rails engine
    = csrf_meta_tags
    = stylesheet_link_tag 'sample_rails_engine/application', media: 'all'
    = javascript_include_tag 'sample_rails_engine/application'
  %body
    = yield
