- content_for :stylesheets do
  = stylesheet_link_tag 'sample_rails_engine/application', media: 'all'
- content_for :javascripts do
  = javascript_include_tag 'sample_rails_engine/application'
= render template: 'layouts/application'
